-#= form_with url: import_path, multipart: true do |f|
  -#= f.file_field :file
  -#= f.submit 'Import'
.container
  .heading
    .left
      %h2 History
    .right
      %button.btn.btn-primary Import
  .content
    %table.table
      %thead
        %tr
          %th Object ID
          %th Object Type
          %th Timestamp
          %th Changes
      %tbody
        - @histories.each do |history|
          %tr
            %td= history.historyable.id
            %td= history.historyable.class.name
            %td= history.timestamp
            %td= history.object_changes
