.btn {
  & {
    background-color: $white;
    color: $black;
    border-radius: 0px;
    border: 0px;
    font-size: 14px;
    padding: 8px 16px;
    cursor: pointer;
    outline: none;
  }

  &.btn-primary {
    background-color: $blue;
    color: $white;
    @include box-shadow($blue);
  }

  &.btn-block {
    width: 100%;
  }
}
