.container {
  & {
    width: 90%;
    margin: 50px auto;
  }

  & > .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > .heading > .right {
    display: flex;
  }

  & > .heading > .right > * {
    margin-left: 5px;
  }
}
