.filter {
  & {
    display: none;
    margin-right: 10px;
  }

  &.show {
    display: block;
  }

  & > .filter-form {
    display: flex;
    align-items: center;
  }

  & > .filter-form  > .form-control {
    margin-right: 5px;
  }
}
